Repository empa-scientific-it/python-tutorial, pull requests merged in 2024-11, with the labels that each got.

#258 Fix errors found in the `input_output` notebook
  input_output.ipynb
  tutorial/input_output.py
  tutorial/tests/data/example_dictionary.csv
  tutorial/tests/data/test_input_lines.txt
  tutorial/tests/data/test_input_lines2.txt
  tutorial/tests/test_input_output.py
Labels: upcoming tutorial

#248 Integrate AI in testsuite
  .gitignore
  binder/environment.yml
  intro.ipynb
  openai.env.example
  tutorial/tests/testsuite/ai_helpers.py
  tutorial/tests/testsuite/exceptions.py
  tutorial/tests/testsuite/helpers.py
  tutorial/tests/testsuite/testsuite.py
Labels: enhancement

#256 Update on notebook basic_datatypes
  .pre-commit-config.yaml
  basic_datatypes.ipynb
  tutorial/tests/test_basic_datatypes.py
Labels: upcoming tutorial

#250 Fix errors in `control_flow` notebook
  control_flow.ipynb
  tutorial/tests/data/trees_1.txt
  tutorial/tests/data/trees_2.txt
  tutorial/tests/test_control_flow.py
  tutorial/tests/testsuite/helpers.py
Labels: upcoming tutorial

#276 Fix debug mode persistency issue
  tutorial/tests/testsuite/testsuite.py
Labels: bug
